a{
	color: #2979ff;
}
*{
	/*font-family: 'Roboto', sans-serif !important;*/
}
h1,h2,h3,h4,h5,h6,.badge{
	/*font-family: 'Montserrat', sans-serif;*/
}
h4.form-inline-header{
	font-size: 16px;
}
.big-card{
	background-color: #ffffff;
	padding: 30px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	margin-bottom: 40px;
}
.big-card .breadcrumb{
	background-color: #ffffff;
	padding: 0;
}
.resume-panel{

}
.resume-panel .panel-title a{
	display: block;
}
.resume-panel-group .panel-title a i.indicator{
	float: right;
}
.resume-panel-group .required:after{
	padding: 0;
}
.resume-panel-group.education{
	font-weight: normal;
}
.all-info{
	/*display: none;*/
}
.all-info .form-group.has-border{
	border-bottom: 1px dashed #e0e0e0;
	padding-bottom: 15px;
}
.all-info h5{
	margin: 0;
	padding: 0;
	color: #757575;
	font-size: 12px;
}
.all-info .sub-header{
	overflow: hidden;
	padding: 10px 0px;
}
.all-info .sub-header h4{
	margin: 0;
	padding: 0;
	display: inline-block;
	font-weight: 600;
	font-style: italic;
	color: #505458;
}
/*.all-info p{
	border-bottom: 1px solid #eeeeee;
	padding: 4px 0px 10px;
	font-size: 15px;
	color: #505458;
	overflow: hidden;
}*/
.resume-panel-group{
	padding: 15px 0px 0px 0px;
}
.resume-panel-group .panel-heading{
	background-color: #ffffff;
	padding: 10px 0px;
}
.resume-panel-group .panel-heading + .panel-collapse .panel-body{
	border-top: 1px solid #68AA47;
	/*padding: 0px 10px 15px 10px;*/
	padding: 0;
}
.resume-panel-group .panel-title a.collapsed{
	color: #505458;
	font-weight: 600;
}
.resume-panel-group .panel-title a, .resume-panel-group .panel-title a:hover{
	font-size: 15px;
	font-weight: 400;
	display: block;
	color: #68AA47;
	outline: 0;
	font-weight: 600;
}
.resume-panel-group .panel{
	border: none;
	box-shadow: none;
}
.tab-group{
	width: 100%;
	border-radius: 50px;
	background-color: #68AA47;
	overflow: hidden;
}
.tab-group .btn{
	background-color: transparent;
	color: #ffffff;
	border: none;
	box-shadow: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13px;
	padding: 10px 20px;
	/*width: 20%;*/
}
label{
	font-size: 13px;
	font-weight: 600;
	display: block;
	color: #505458;
}
.tab-group .btn.active{
	background-color: #509447;
}
.form-control{
	width: 100%;
	box-shadow: none;
	border-radius: 2px;
    border: 1px solid #cccccc;
}
.form-control:focus{
	box-shadow: none;
	border: 1px solid #2979FF;
}
.btn-orange{
	background-color: #d84315;
	color: #ffffff;
}
.btn-orange:hover{
	background-color: #bf360c;
	color: #ffffff;
}
.row.view-mode .form-group{
	border-bottom: 1px solid #eeeeee;
	/*padding-bottom: 10px;*/
	margin-bottom: 10px;
}
form.view-mode label{
	margin: 0px 0px 2px 0px;
	padding: 0px;
	color: #546e7a;
	font-size: 13px;
	font-family: "Roboto",sans-serif;
}
form.view-mode .form-control{
	color: #505458;
}
form.view-mode textarea{
	height: auto;
	overflow: hidden !important;
}
form.view-mode input,form.view-mode input:focus, form.view-mode select, form.view-mode textarea{
	box-shadow: none;
	border: none;
	padding: 0;
	margin: 0;
	pointer-events: none;	
}
form.view-mode select{
	-webkit-appearance: none;
   -moz-appearance:    none !important;
}
form.view-mode abbr{
	display: none;
}
form.view-mode .form-control{
	/*border-bottom: 1px solid #eeeeee;*/
	padding-bottom: 8px;
}
form.view-mode .chips-container .well .btn{
	display: none;
}
.edit-tools{
	display: inline-block;
	float: right;
}
.edit-tools .btn{
	background-color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	color: #808080;
	border: none;
	padding: 0px 5px;
	font-family: 'Montserrat', sans-serif;
}
.edit-tools .btn{
	color: #2979FF;
	padding: 6px 10px;
	box-shadow: none;
}
.edit-tools .delete-btn{
	color: #f50057;
}
.edit-tools .btn:hover{
	background-color: #f5f5f5;
}
.edit-tools .add-btn{
	color: #546e7a;
}
.btn-green{
	background-color: #68AA47;
	color: #ffffff;
}
.btn-gray,.btn-gray:focus{
	background-color: #546e7a;
	color: #ffffff;
}
.btn-gray:hover{
	background-color: #37474f;
	color: #ffffff;
}
.input-note{
	color: #595959;
	font-size: 13px;
	display: block;
	font-style: italic;
}
.text-normal{
	font-weight: 500;
}
small.note-grey{
	color: #757575;
	font-style: italic;
}
.btn{
	text-transform: uppercase;
    padding: 8px 20px 7px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
}
.btn-primary{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.btn-cancel{
	color: #78909c;
}
.btn-cancel:hover{
	background-color: #f5f5f5;
}
/*SPAN COLORS*/
.badge.meganta{
	background-color: #FF4081;
}
.badge.blue{
	background-color: #2979FF;
}
/*WELLS*/
.well-sm{
	border-radius: 2px;
	padding: 6px 10px;
	background-color: #eeeeee;
	color: #424242;
	font-size: 13px;
	/*border: 1px solid #cfd8dc;*/
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	margin-bottom: 10px;
}

.color-grey{
	color: #757575;
}
.m-b-10{
	margin-bottom: 10px !important;
}
.m-l-10{
	margin-left: 10px !important;
}
.m-t-10{
	margin-top: 10px !important;
}
.m-t-20{
	margin-top: 20px !important;
}
.m-t-40{
	margin-top: 40px !important;
}
.m-b-0{
	margin-bottom: 0;
}
.p-l-10{
	padding-left: 10px !important;
}
/*EMPTY MESSAGE*/
.empty-message{
	text-align: center;
	font-size: 16px;
	padding: 0px 80px;
	color: #90a4ae;
}
.empty-message i.icon-training{
	display: block;
	font-size: 36px;
	margin: 0px 0px 14px 0px;
}
.empty-message p{
	font-size: 14px;
}
.checkbox-container{
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid #bdbdbd;
	padding: 0px 15px;
}
.checkbox-container .checkbox + .checkbox{
	margin-top: 0;
}
.checkbox-container .checkbox label{
	display: block !important;
}
.chips-container{
	display: block;
	overflow: hidden;
}
.chips-container a{
	padding: 5px 0px 0px 0px;
	color: #FF4081;
	display: inline;
	box-shadow: none;
	vertical-align: baseline;
}
.chips-container .well.hover{
	background-color: #FF4081;
	color: #ffffff;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

/*PHOTO UPLOAD*/
.user-photo{
	text-align: center;
}
.user-photo img{
	display: inline-block;
	height: 120px;
	width: 120px;
}
.photo-upload input.file-back{
	height: auto;	
}
/*NATIONALITY FIELDS*/
.nationality-control .onclick-show{
	width: 140px;
	float: right;
	position: absolute;
	right: 15px;
	top: 18px;
}
.onclick-hidden.yes{
	display: none;
}
/*Loader*/
.loader{
	display: none;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255,143,0, 0.2);
  border-right: 1.1em solid rgba(255,143,0, 0.2);
  border-bottom: 1.1em solid rgba(255,143,0, 0.2);
  border-left: 1.1em solid #ff8f00;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}






/*POPOVER*/
.btn.sub-popover{
	padding: 2px;
	background-color: #ffffff;
	vertical-align: bottom;
	font-size: 16px;
}

/*EXAMPLE AREA*/
.example-area a.btn{
	padding: 5px 10px;
	/*background-color: #f5f5f5;*/
	/*text-transform: none;*/
}
.example-area blockquote{
	font-size: 14px;
}
.example-area .panel-group{
	margin-bottom: 0;
}


a.color-green.collapsed, a.color-green.collapsed:hover, a.color-green.collapsed:focus{
	color: #68AA47 !important;
	background-color: #f5f5f5 !important;
}
a.color-green, a.color-green:hover, a.color-green:focus{
	color: #ffffff !important;
	background-color: #68AA47 !important;
}


a.color-red.collapsed, a.color-red.collapsed:hover, a.color-red.collapsed:focus{
	color: #f50057 !important;
	background-color: #f5f5f5 !important;
}
a.color-red, a.color-red:hover, a.color-red:focus{
	color: #ffffff !important;
	background-color: #f50057 !important;
}



a.color-blue.collapsed, a.color-blue.collapsed:hover, a.color-blue.collapsed:focus{
	color: #0288d1 !important;
	background-color: #f5f5f5 !important;
}
a.color-blue, a.color-blue:hover, a.color-blue:focus{
	color: #ffffff !important;
	background-color: #0288d1 !important;
}


a.color-yellow.collapsed, a.color-yellow.collapsed:hover, a.color-yellow.collapsed:focus{
	color: #ff6f00 !important;
	background-color: #f5f5f5 !important;
}
a.color-yellow, a.color-yellow:hover, a.color-yellow:focus{
	color: #ffffff !important;
	background-color: #ff6f00 !important;
}
/*BUTTON PACK*/
.btn-delete, .btn-delete:focus{
	background-color: #f50057;
	color: #ffffff;
}
.btn-delete:hover{
	background-color: #d9004c;
	color: #ffffff;
}




.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}
.has-error label{
	color: #a94442;
}
.alert ul{
	margin: 5px 0px 0px 25px;
	padding: 0;
}
.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.icon-upload{
	animation: spin 2s infinite linear;
}
.btn.uploading{
	background-color: #37474f;
	cursor: wait;
}
.alert .close{
	margin: auto !important;
}
.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    display: inline-block;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}